.carousel {
  display: flex;
  width: 300px;
  overflow-x: hidden;

  .carouselThumb {
    transition: 0.05s;
    will-change: margin-left;
    width: 0;
  }

  .carouselItem {
    min-width: 300px;
    height: 300px;
    background-color: rgb(0, 53, 53);

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        opacity: ($i) * 0.2;
      }
    }
  }
}
